<div id="cafecito">
    <h2 class="title">
        ¿Te gustaría apoyar el proyecto? Ayudame a seguir manteniéndolo
    </h2>
    <a href="https://cafecito.app/ikacoords" rel="noopener" target="_blank"><img alt="Invitame un café en cafecito.app" src="https://cdn.cafecito.app/imgs/buttons/button_1.png" srcset="https://cdn.cafecito.app/imgs/buttons/button_1.png 1x, https://cdn.cafecito.app/imgs/buttons/button_1_2x.png 2x, https://cdn.cafecito.app/imgs/buttons/button_1_3.75x.png 3.75x"></a>
    <br>
    <span style="font-style:italic;font-size:0.8em">
        Por el momento, sólo podés invitar cafecitos si sos de Argentina.
    </span>
    <br>
    <br>
    <a href="http://paypal.me/ikacoords" rel="noopener" target="_blank"><img alt="Paypal" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donateCC_LG.gif"></a>
    <br>
<br>
<h2>
¿Por qué donar?
</h2>
Actualmente la web está en un servicio gratis, por lo que la cantidad de informacion que podes almacenar es muy limita, por eso el limitado número de servidores,
<br>Nos gustaría poder movernos a un servicio que nos permita crecer sin preocuparnos, pero este tiene un costo de 5 dolares mensuales.
<br>Como objetivo adicional, nos gustaria contar con un servidor para automatizar la actualización de los datos que actualmente es muy lenta.
    </div>