<!-- partials/sidebar.ejs -->
<div id="side-bar">
    <a href="#">Side Link 1</a>
    <a href="#">Side Link 2</a>
    <a href="#">Side Link 3</a>
    <a href="#">Side Link 4</a>
    <a href="#">Side Link 5</a>
  </div>
  