<!-- partials/sidebar.ejs -->
<div id="side-bar">
    <a href="/search/inactives">Búsqueda de Inactivos</a>
    <a href="/search/islands">Búsqueda de Islas</a>
    <a href="/search/cities">Búsqueda de Ciudades</a>
    <a href="/search/players">Búsqueda de Jugadores</a>
    <select hidden name="pais" id="pais">
      <option value="ES">España</option>
    </select>
    <select hidden name="server" id="server">
      <option value="Alpha">Alpha</option>
      <option value="Kerberos">Kerberos</option>
    </select>
  </div>
  