<!-- partials/sidebar.ejs -->
<div id="side-bar">
    <a href="/statistics/clasiPlayer">Clasificaci칩n Jugadores</a>
    <a href="/statistics/clasiAlianza">Clasificaci칩n Alianza</a>
    <a href="/statistics/mayorIntendencia">Mayor Intendencia</a>
    <a href="/statistics/masCiudades">M치s Ciudades</a>
    <select hidden name="pais" id="pais">
      <option value="ES">Espa침a</option>
    </select>
    <select hidden name="server" id="server">
      <option value="Alpha">Alpha</option>
      <option value="Kerberos">Kerberos</option>
    </select>
  </div>
  