<!-- partials/sidebar.ejs -->
<div id="side-bar">
    <a href="/tops/bestPlayers">Mejores Jugadores</a>
    <a href="/tops/worstPlayers">Peores Jugadores</a>
    <a href="/tops/bestAlianzas">Mejores Alianzas</a>
    <a href="/tops/worstAlianzas">Peores Alianzas</a>
    <select hidden name="pais" id="pais">
      <option value="ES">España</option>
    </select>
    <select hidden name="server" id="server">
      <option value="Alpha">Alpha</option>
      <option value="Kerberos">Kerberos</option>
    </select>
  </div>
  